.notion {
    background-color: #5f5f5f54; /*#79dbdb54; /*#9aa9d3;*/
    font-family: Courier, monospace;
    border-radius: 30px; /* this adds rounded corners */
    box-shadow: 3px 3px 5px rgb(57 56 56 / 45%);
}

.notion .notion-page-cover {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;  /* if the image takes time to load the text should not be visible */
}

.notion .notion-page {
    padding: 0; /* Reset padding for top, right, and bottom */
    padding-left: 30px; /* Apply padding to the left side */
    padding-right: 30px; /* Apply padding to the right side */
    padding-bottom: 30px; /* Apply padding to the right side */
}

.notion-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: .75em;
    margin-bottom: .25em;
    color: blue;
    font-family: Courier, monospace;
}

html, body {
    background-color: rgb(255, 255, 255);
}

.banner { 
    font-weight: bold; 
}

button, .button-container button {
    font-family: courier;
    background-color: #e9f76a;
    font-style: italic;
    margin: 1px 1px;  /*This will add a spacing of 5 pixels to the left and right of each button */
    border-radius: 20px;
    border: 1px solid black;         /* Force border color to black */
    color: black;                    /* Force font color to black */
    box-shadow: 3px 3px 5px rgb(57 56 56 / 45%);
    transition: transform 0.04s;      /* Smoother transformation on click */
    align-items: center;              /* Add this line */
    justify-content: center;          /* Add this line */
}

button:hover, .button-container button:hover {
    filter: brightness(1.1); /* Brightens the button on hover */
}

button:active, .button-container button:active {
    transform: translateY(1px);      /* Pressing effect on active state */
    box-shadow: 
        0 0 5px red, 
        0 0 10px rgb(0, 255, 255);
    filter: brightness(0.9);         /* Darken the button */
}
/* Special style for the refresh cache button */
button[onClick*="refreshAllCaches"] {
    background-color: blue;          
    font-family: sans-serif;         /* Use sans-serif for cleaner icon representation */
    content: "⟳";                    /* This is a simple representation, consider using FontAwesome or similar for a better icon */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;         /* Ensure black border */
    color: black;                    /* Ensure black font color */
}

.refresh-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

.refresh-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional: slightly darkens the button on hover */
}